@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/lateef.css);
@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(http://fonts.googleapis.com/earlyaccess/thabit.css);
.name_restaurant{
  font-family: "scheherazade" , serif;
}
*{
  margin: 0;
  margin-right: 1px;
}
.div1{
  width: 100%;
  height: 50px;
  border: black 1px solid;
  background-color:rgba(50, 50, 50, 0.7);
  position: fixed;
}
.details{
  width: 17%;
  padding-right: 10%;
  margin-left: 80%;
  background-color:rgba(0, 0, 0, 0.3);
  color: aqua;
  font-size: 25px;
  direction:rtl;
  position:sticky;
}
.details::before{
  content:"";
  height:100%;
  width:3%;
  background-color:rgb(75, 255, 100);
  position:absolute;
  left:0;
  top:0;
}
a{
  text-decoration:none;
  color: aqua;
}
a:hover{
  color: darkblue;
}
.div2{
  height: 50px;
  visibility:hidden;
}
.div3{
  width: 100%;
  height: 320px;
  border: black 1px solid;
  background-color:rgb(158, 176, 149);
  font-size: 30px;
  color: white;
}
.h5{
  width: 100%;
  height: 1000px;
}

/* ------------------------------who_us----------------------------- */
/* .who_us_div1{} */
