/*
    التركيب الأساسي لأكواد اللغة:
    selector{property: value; property: value; ...}
    selector: هناك طرق عدة لاستدعاء العناصر HTML هو العنصر المراد التعديل عليه من صفحة الـ
    property: هي الخاصية المراد التعديل عليها للعنصر مثل: (اللون - نوع الخط - ...)
    :: تأتي بعد الخاصيات مباشرة
    value: مقدار التغيير أو القيمة الجديدة
    ;: يجب وضع الفاصلة المنقوطة إذا أردنا كتابة أكثر من خاصية ويمكننا عدم كتابةالفاصلة المنقوطة في آخر خاصية
*/

/*
    وحدات القياس على نوعين:
    absolute: هي وحدات غير قابلة للتغير مع تغيير حجم الشاشة مثل:
    (cm) والسنتيمتر (mm) والمليمتر (px) البكسل
    relative: هي وحدات قابلة للتغير مع تغيير حجم الشاشة مثل:
    التيتساوي طول الشاشة دائما بالنسبة المئوية (vh) التي تساوي عرض الشاشة دائما بالنسبة المئوية و (vw) النسبة المئوية (%) و

*/

h4{
    /*لإعطاء النص لون*/
    color:blueviolet;
    /*لتلوين الخلفية*/
    background-color: bisque;
}

/*
    HTML هي ميزة يمكن إعطاؤها لأي عنصر في الـ class الـ
    تستخدم للتعديل على عنصرين ليسا من نفس النوع أو للتعديل على عنصر واحد فقط دون التعديل على عناصر أخرى من نفس نوعه أيضا
    HTML في أكواد لغة class يتم استعاؤها عن طريق وضع نقطة (.) ثم القيمة الموجودة في الـ
*/
.aqua-color{
    color: aqua;
    /*
        هذه الخاصية تستخدم للتلاعب بالحدود ولها طرق عدة في ذلك منها:
        border-style التلاعب بشكل الحدود ويمكن إخفاؤه أيضا
        border-color التلاعب بلون الحدود
        border-width التلاعب بسمك الحدود
        border-radius التلاعب بزوايا الحدود
        وهي تتلاعب باللون وعرض الحدود والشكل معا border هناك الخاصية
        (border-top, border-bottom, border-left, border-right) :يمكن التلاعب بجهة واحدة للحدود مثل
    */
    border-style: inset;
    border-color: brown;
    border-radius: 5px;
    border-width: 5px;
    border: 5px solid #ac58fb;
    border-top-color: lawngreen;
}

/*
    HTML هي ميزة يمكن إعطاؤها لأي عنصر في الـ id الـ
    يستخدم للتعديل على عنصر واحد فقط دون التعديل على عناصر أخرى من نفس نوعه
    HTML في أكواد لغة id يتم استعاؤها عن طريق وضع نقطة (#) ثم القيمة الموجودة في الـ
*/
#red-color{
    color: burlywood;
    /*هي المسافة التي تفصل بين العناصر وحواف الصفحة*/
    margin: 5px;
    /*هي المسافة بين النص والحدود*/
    padding: 10px;
}

#text{
    /*لتغيير لون النص*/
    color: red;
    /*لتغيير جهة النص إما من اليسار وإما من الوسط وإما من اليمين*/
    text-align: right;
    /*لوضع خط على النص أو فوقه أو تحته*/
    text-decoration: underline;
    /*لتغيير شكل النص*/
    font-family: monospace;
    /*لتغيير طريقة كتابة النص إما من اليمين إلى اليسار وإما من اليسار إلى اليمين*/
    direction: rtl;
    /*لتغيير حجم النص*/
    font-size: 30px;
    background-color: khaki;
}

#width-height{
    /*لتغيير الطول والعرض الواحدات التي تأخذها كثيرة منها: البكسل، بالمئة، الساني متر*/
    width: 50%;
    height: 50px;
    /*هاتان الخاصيات تحددان أقصى طول أو عرض وأدنى طول أو عرض الواحدات التي تأخذها كثيرة وهي مثل خاصية الطول والعرض العاديتان*/
    min-height: 40px;
    max-height: 100px;
    min-width: 30%;
    max-width: 45%;

}

/*لإعطاء خاصية لأكثر من عنصر نفصل بين العناصر بفاصلة*/
table, td, th{
    border: 3px solid black;
}

table{
    /*لإعطاء الجدول حدود*/
    border-collapse: collapse;
    height: 150px;
    width: 50%;
    text-align: center;
}

td{
    /*لتغيير جهة النص من الأعلى أو من الوسط أو من الأسفل*/
    vertical-align: center;
}

#block{
    /*(inline-block) أو (inline) أو (block) تجعل العنصر مخفي وكأنه غير موجود أي أن أي عنصر يأتي بعده سيأخذ مكانه وتجعل العنصر*/
    display: none;
}

#inline{
    display: inline-block;
    /*تجعل العنصر مخفي ولكن يبقى مكانه موجود أي أن أي عنصر يأتي بعده لن يستطيع أخذ مكانه*/
    visibility: hidden;
    /*هذا العنصر لتغير موقع العنصر وهذه القيمة هي قيمته الأساسية والتي تبقيه في مكانه دون تغيير*/
    position: static;
}

#image{
    height: 50%;
    min-width: 50%;
}

#sounge{
    direction: rtl;
    /*ويبقى مكانه محفوظ (left, right, top, bottom) هذه القيمة تسمح للمبرمج بتغير موقع العنصر بالنسبة لموقعه الأساسي يدويا عبر الخصائص*/
    position: relative;
    bottom: 290;
    right: 445;
}

#absolute{
    color: white;
    background-color: black;
    /*
        هذه القيمة تغيير مكان العنصر بالنسبة للعنصر الذي يحويه
        absolute للهنصر الحاوي هي أيضا position ولكن لجعل العنصر يتغير مكانه بالنسبة للعنصر الذي يحويه والذي نحن نضعه يجب أن تكون قيمة الـ
        ولكن لا يبقى مكان العنصر محفوظ
    */
    position: absolute;
    top: 100;
    left: 100;
    z-index: 1;
}

#fixed{
    background-color: crimson;
    /*
        هذه القيمة تغيير مكان العنصر بالنسبة للشاشة أي عندما يكون هناك عناصر أكبر من حجم الشاشة وننزل سوف ينزل هذا العنصر أيضا
        ولكن لا يبقى مكان العنصر محفوظ 
    */
    position: fixed;
    left: 100;
    top: 0;
    /*
        هذه الخاصية لتغيير علو العناصر فوق بعضها
        مناك أولويات للعلو بين العناصر وهي كالآتي:
        z-index يكون علو العنصر هو الأدنة ولا يتأثر بالخاصية position في خاصية الـ static إذا كانت قيمة العنصر
        هناك أولويات أخرى هي بالترتيب من الأقل علوا حتى الأكثر علوا position في الخاصية  static إذا كانت قيمة العنصر غير القيمة
        relative -> absolute -> fixed
        يمكنها تغيير كل الأولويات معدا الحالة الأولى التي تم ذكرها z-index وأخيرا الخاصية
    */
    z-index: 0;
}

#margin1, #margin2, #margin3, #margin4, #margin5{
    background-color: gold;
}

#margin1{
    margin: 50px;
}

#margin2{
    margin-left: 60px;
}

#margin3{
    /*top -> right -> bottom -> left*/
    margin: 10px 20px 40px 15px;
}

#margin4{
    /*top & bottom -> right & left*/
    margin: 20px 40px;
}

#margin5{
    max-width: 20%;
    height: 100px;
    /*ملاحظة: يمكنها التعديل على الصور أيضا*/
    text-align: center;
    /*auto تستخدم للتوسيط التلقائي*/
    margin: 5px auto;
    /*للتعديل عل الارتفاع بالأسطر*/
    line-height: 6;
}

.flexbox{
    background-color: orangered;
}

.continer{
    background-color: green;
    /*align-items و justify-content للسماح بالتعديل على العناصر باستخدام الخواص*/
    display: flex; /*-> flexbox */
    /*للترتيب الأفقي*/
    justify-content: space-around;
    height: 100px;
    /*للترتيب العامودي*/
    align-items: center;
    margin-bottom: 10px;
}

/*Test*/

#mian-div{
    width: 100%;
    height: 700px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #999;
    width: 100%;
    height: 20%;
}

.plus-box{
    justify-content: space-between;
}

.box{
    background-color: #444;
    height: 100%;
    width: 7%;
}

.row, .box{
    border: 4px solid white;
}

.box{
    border-width: 8px;
}

#down-test{
    position: fixed;
    right: 20px;
    bottom: 5px;
    min-width: 15px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px;
}

/*هذه الطريقة للوصول إلى العنصر الأخير المذكور وهو يجب أن يكون داخل العناصر التي تسبقه*/
div div h2{
    background-color: orange;
}

/*هذه الطريقة للوصول إلى العنصر الأخير المذكور وهو يجب أن يكون داخل العناصر التي تسبقه مباشرة دون أي عنصر محيط آخر*/
div div > h2{
    color: blue;
}

/*هذه الطريقة للوصول إلى على عنصر من النوع الأخير المجاور مباشرة دون عناصر قاطعة للعنصر الأول*/
div div + h2{
    background-color: gray;
}

/*هذه للوصول إلى العناصر من النوع الأخير التي تكون مجاورة للمنصر الأول وإن وجد عناصر بينهما بشرط عدم إحاطة العنصر بهنصر آخر من غير نوع*/
div div ~ h2{
    background-color: gray;
}

/*pseudo classes*/
/*أي عند الغط على الرابط وهي خاصة لا تصلح لكل العناصر*/
#visited:visited{
    color: green;
    background-color: darkred;
}

/*أي عندما يكون المؤشر على العنصر وهي عامة لكل العناصر*/
#hover:hover{
    background-color: darkblue;
}

/*pseudo element*/
/*للتعديل على الحرف الأول من العنصر*/
#pseudo-element::first-letter{
    color: red;
}

/*للتعديل على السطر الأول من العنصر*/
#pseudo-element::first-line{
    color: aqua;
}

#pseudo-element{
    background-color: yellow;
}

/*للتعديل على بداية العنصر*/
#pseudo-element::before{
    /*طريقة الكتابة*/
    content: '*';
}

/*للتعديل على نهاية العنصر*/
#pseudo-element::after{
    content: '👍';
}

body{
    /*!important تعطي الأولوية لهذه القيمة مهما كانت القيم التي بعدها*/
    background-color: white !important;
}

body{
    background-color: black;
}

#overflow{
    width: 30%;
    height: 200px;
    background-color: darkgoldenrod;
    /*للتحكم في النص الزائد عن حدود العنصر*/
    overflow: scroll;
}

#text-shadow{
    /*
        لإنشاء ظل للنص
        (,) يمكن تعين أكثر من ظل مباشرة عبر فصل الظلال بفواصل
        القيم يجب أن تبقى مرتبة وهذه القيم هي بالترتيب: (الإزاحة العرضية -> الإزاحة الطولية -> الوضوح أو الضبابية -> اللون)
    */
    text-shadow: 2px 2px 3px blue, -3px -4px 2px red;
    background-color: turquoise;
    /*لإنشاء ظل للعنصر بشكل كامل*/
    box-shadow: -5px -8px 3px pink;
}

#transition{
    width: 50%;
    height: 50%;
    background-color: orchid;
    /*
        Animation للتحكم بالتغيرات أثناء الأحداث وهذا يسمى بالـ
        القيم التي يجب إعطاؤها لهذه الخاصية هي الخاصية المراد التعديل عليها والمدة اللازمة للتعديل عليها
    */
    transition: width 2s, height 2s, background 3s;
}

#transition:hover{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}

#transition-shadow{
    background-color: maroon;
    transition: box-shadow 1s, text-shadow 1s;
}

#transition-shadow:hover{
    box-shadow: 5px 6px 3px darkcyan;
    text-shadow: 5px 0 2px whitesmoke;
}

/*Varibals*/
/*
    (:root) لتعريف متغير عام يجب كتابته داخل
    أولا يجب كتابة شرطتان عاديتان (--) لكل المتغيرات
    ثم إعطاء المتغير القيمة ملاحظة: لا يوجد قيمة محددة للمتغير أي يمكن تخزين لون أو رقم أو أي شيء
    وداخلها اسم المتغير var() لاستدعاء المتغير يجب أولا كتابة الدالة
*/
:root{
    --color: cyan;
    --bor-color: chartreuse;
    --back-color: black;
}

#var{
    color: var(--color);
    background-color: var(--back-color);
    border: 3px solid var(--bor-color);

}

/*final test*/