img{
  height: 657px;
}
form{
  text-align:center;
  width:410px;
  margin-right: 10%;
  position: absolute;
  top: 0;
  right: 0;
}
h1{
  color: blueviolet;
  font-size:50px;
  text-align:center;
  margin-top:5%;
  margin-bottom:10%;
  margin-top: 20%;
}
p{
  text-align:right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:20px;
  direction:rtl;
}
p[name="login"]{
  text-align:center;
  color:darkseagreen;
}
#text1{
  font-size: 15px;
  text-align: center;
  direction: ltr;
}
input{
  display: block;
}
input[type="email"], input[type="password"]{
  width:100%;
  height:35px;
  font-size:20px;
  background-color: #eee;
  border: none;
  border-left: solid 8px blueviolet;
  margin-top: 5%;
}
#terms{
  direction: ltr;
  text-align: right;
  position: inherit;
  margin-top: 10%;
  font-weight: bold;
}
input[type="checkbox"]{
  display: inline;
  position: relative;
  left: 100%;
}
#term{
  margin-right: 110px;
}
input[type="submit"]{
  width:100%;
  height:30px;
  font-size:20px;
  font-weight: bold;
  margin-top:50px;
  background-color: blueviolet;
  border: none;
  margin-top: 30%;
}
*{
  margin:0;
}
